<article class="px-4">
    <section class="text-center">
        <h1 class="text-5xl font-black">{{ title }}</h1>
    </section>

    <section class="max-w-2xl mx-auto py-12 lg:py-20 relative z-10">
        {{ if header_image }}
        <img src="{{ glide:header_image fit='crop_focal' w='600' h='300' }}" class="rounded-t-lg w-full shadow-3xl" />
        {{ /if }}
        <div class="{{ header_image ? 'rounded-b-lg' : 'rounded-lg' }} shadow-3xl bg-white dark:bg-gray-800 px-4 py-6">
            <div class="lg:prose-lg prose dark:prose-invert prose-purple prose-a:underline leading-normal">
                {{ content }}
            </div>
        </div>
    </section>
</article>
