<section class="text-center px-4 max-w-prose mx-auto">
    <img src="{{ global:avatar }}" alt="{{ global:avatar.alt }}" class="w-48 mx-auto rounded-blob">
    <h1 class="text-3xl font-black mt-2">Hi, I'm Andy Newhouse aka TechEnby</h1>
    <p class="mt-3 text-xl font-medium">{{ tagline }}</p>
</section>

<section class="max-w-lg mx-auto space-y-8 lg:space-y-24 py-8 lg:py-24 px-4 lg:px-0">
    {{ collection:posts paginate="20" as="posts" }}
    {{ posts }}
    {{ partial:card prose="lg:prose-lg" }}
    {{ /posts }}
    {{ partial:pagination }}
    {{ /collection:posts }}
</section>
