<section class="max-w-lg mx-auto py-8 px-4
    lg:py-12 lg:px-0 lg:max-w-none lg:flex lg:items-center lg:justify-center lg:space-x-12">
    <img src="{{ global:avatar }}" class="w-48 h-48 {{ blobs | random }}" alt="{{ global:avatar.alt }}">
    <div class="mt-8 lg:mt-0 max-w-prose">
        <h1 class="text-xl sm:text-3xl font-black">{{ heading }}</h1>
        <div class="mt-4 prose lg:prose-xl dark:prose-invert prose-purple">
            {{ bio }}
        </div>
    </div>
</section>

<section class="max-w-lg mx-auto space-y-8 lg:space-y-24 py-8 lg:py-24 px-4 lg:px-0">
    {{ collection:posts paginate="20" as="posts" }}
    {{ posts }}
    {{ partial:card prose="lg:prose-lg" }}
    {{ /posts }}
    {{ partial:pagination }}
    {{ /collection:posts }}
</section>
