<div class="border-b dark:border-gray-700">
    {{ if template == "home" }}
    {{ if cover_photo }}
    <a href="{{ url }}">
        <img class="rounded-t-lg w-full dark:hidden" src="{{ cover_photo }}" alt="{{ cover_photo.alt ?? title }}">
        <img class="rounded-t-lg w-full dark:block hidden" src="{{ cover_photo | dark }}"
            alt="{{ cover_photo.alt ?? title }}">
    </a>
    {{ /if }}
    <div class="px-4 py-6 prose dark:prose-invert prose-purple">
        <h2 class="font-bold">
            {{ if content }}
            <a href="{{ url }}" class="no-underline hover:text-purple-600 dark:hover:text-purple-400">
                {{ title }}: {{ rating.label }}
            </a>
            {{ else }}
            {{ title }}: {{ rating.label }}
            {{ /if }}
        </h2>
    </div>
    {{ /if }}
</div>
