<div class="border-b dark:border-gray-700">
    {{ if template == "home" }}
    {{ if cover_photo }}
    <a href="{{ url }}">
        <img class="rounded-t-lg w-full dark:hidden" src="{{ cover_photo }}" alt="{{ cover_photo.alt ?? title }}">
        <img class="rounded-t-lg w-full dark:block hidden" src="{{ cover_photo | dark }}"
            alt="{{ cover_photo.alt ?? title }}">
    </a>
    {{ /if }}
    <div class="px-4 py-6 prose dark:prose-invert">
        <h2><a href="{{ url }}" class="no-underline font-bold hover:text-purple-500">{{ title }}: {{ rating.label }}</a>
        </h2>
    </div>
    {{ /if }}
</div>
