<div>
    {{ if photo }}
    <a href="{{ url }}">
        <img class="rounded-t-lg w-full dark:hidden" src="{{ photo }}" alt="{{ photo.alt ?? title }}">
        <img class="rounded-t-lg w-full dark:block hidden" src="{{ photo | dark }}"
            alt="{{ photo.alt ?? title }}">
    </a>
    {{ /if }}
    <div class="px-4 py-6 prose dark:prose-invert prose-brand">
        <h2 class="font-bold">
            {{ if content }}
            <a href="{{ url }}" class="no-underline hover:text-java-600 dark:hover:text-java-400">
                {{ title }}: {{ rating.label }}
            </a>
            {{ else }}
            {{ title }}: {{ rating.label }}
            {{ /if }}
        </h2>
    </div>
</div>
