<div>
    {{ if template == "home" }}
    {{ if photo }}
    <a href="{{ url }}">
        <img class="rounded-t-lg w-full dark:hidden" src="{{ photo }}" alt="{{ photo.alt ?? title }}">
        <img class="rounded-t-lg w-full dark:block hidden" src="{{ photo | dark }}"
            alt="{{ photo.alt ?? title }}">
    </a>
    {{ /if }}
    <div class="px-4 pt-6 prose dark:prose-invert prose-brand">
        <h2><a href="{{ url }}" class="no-underline font-bold hover:text-java-600 dark:hover:text-java-400">{{ title }}</a></h2>
    </div>
    {{ /if }}
    {{ if template != "home" }}
    <div class="prose dark:prose-invert p-8 prose-brand">
        {{ content }}
    </div>
    {{ /if }}
</div>
